.mb-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mb-selector-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    padding: 0 5% 0 5%;
}

.mb-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.md-selector-title {
    display: flex;
    justify-content: center;
    height: auto;
    cursor: pointer;
    width: 49%;
    user-select: none;
    font-size: 14pt;
}

.md-selector-title:not(:first-child) {
    /* margin-left: 2%; */
}

.mb-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2%;
    overflow: auto;
    /* background-color: red; */
}

.mb-message {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 2%;
    flex-direction: column;
    justify-content: space-around;
    /* background: #e5e5e5; */
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid #e5e5e5; */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mb-message > div {
    height: auto;
}

.mb-message > div:first-child {
    font-size: 11pt;
}

.mb-message > div > span:first-child {
    color: #8c959b;
    font-size: 9pt;
}

.mb-message > div > span:last-child {
    font-size: 10pt;
    color: rgb(101, 101, 101);
}